<h1>About me</h1>
<p>Lots of interesting stuffs.</p>
<p>My favorite color is <%= @color %></p>
<p>My shoe size is <%= @size %></p>
<% if @size.to_i > 12 %>
<%= "My, what big feet I have!" %>
<% end %>
<style>
  body {
    background: <%= @color %>;
  }
</style>

<%= link_to "Travel", root_path, class: "navbar-brand" %>

<%= link_to "Blue", {controller: "welcome", action: "about", color: "blue"}, class: "btn btn-primary" %>